/*Add CSS styles here*/

#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 55%;
}

.step {
    width: 20%;
    height: 42px; /* Adjust height as needed */
    background-color: #eee; /* Background color */
    border: 1px solid #ccc; /* Border properties */
}

.step img {
    width: 100%;
}

#forward {
    float: right;
}
  
#reverse {
    float: left;
}
