/*Add CSS styles here*/

#map {
    height: 100%;
    width: 100%;
}

#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}



#forward {
    float: right;
}
  
#reverse {
    float: left;
}


.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.range-slider {  
    width: 200px;  
}  

.sequence-control-container .skip img {
    max-width: 24px;  /* Example size, adjust as needed */
    max-height: 24px; /* Example size, adjust as needed */
}



/* Add styles for your legend-control-container here */
.legend-control-container {
    /* Example styles, adjust as needed */
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border: solid gray 1px;
    /* Other styles */
}

/* .legend-circle {
    fill: #F47821;
    fill-opacity: 0.8;
    stroke: #000000;
} */
